lab 3/res/valid.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="ShapeCatalogue">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Shape" maxOccurs="unbounded" minOccurs="0" type="shape"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="shape">
        <xsd:attribute name="size" type="xsd:string"/>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
</xsd:schema>